{include cabecera.html}
<body >
	{include titulo.html}
	{include menu.html}
	<div class="contenido">
		<table>
			<tr>
				<th>Id</th>
				<th>Fechas</th>
                                <th>Hora</th>
                                <th>Eventos</th>
                                <th>Usuarios</th>
				
			</tr>
			{foreach $datos row}
				<tr>
					<td>{$row['id']}</td>
					<td>{$row['fecha']}</td>
					<td>{$row['hora']}</td>
                                        <td>{$row['evento']}</td>
                                        <td>{$row['usuario']}</td>
				</tr>
			{else}
				<tr>
					<td colspan="4">Sin productos</td>
				</tr>
			{/foreach}
		</table>
			
	</div>
</body>
{include pie.html}

<script type="text/javascript">

	$(".editor").click(
		function(event){
			event.preventDefault();
			var contenedor = $(this).parent();
			//contenedor.load($(this).attr('href'), { id: $(this).attr("pid"), producto: $(this).html()});
		}
	);
	
</script>
