{include cabecera.html}
<body >
	{include titulo.html}
	{include menu.html}
	<div class="contenido">
		<table>
			<tr>
				<th>Usuario</th>
                                <th>Nombre</th>
                                <th>Moviemientos</th>
                              
                              
				
			</tr>
			{foreach $datos row}
				<tr>
					<td>{$row['usuario']}</td>
				       
					<td>{$row['nombre']}</td>
                                        <td>{$row['movimientos']}</td>
                                        
                                      
				</tr>
			{else}
				<tr>
					<td colspan="4">Movimientos</td>
				</tr>
			{/foreach}
		</table>
			
	</div>
</body>
{include pie.html}