{include cabecera.html}
<body >
    {include titulo.html}
    {include menu.html}
    <div class="contenido" align="center">
        <p> −	Reportes de actividades por usuario  <input type="button" value="Entrar" onclick="location.href = 'http://localhost/framework/index.php/Home/ReportesUsuarios'"/> </br>
        <p> −	Estadísticas de salida de productos <input type="button" value="Entrar" onclick="location.href = 'http://localhost/framework/index.php/Home/ReporteSalidaProductos'" />
        <p> −	Estadísticas de comportamiento de usuarios<input type="button" value="Entrar" onclick="location.href = 'http://localhost/framework/index.php/Home/ComportamientoUsuarios'" />
        <p> −	Estadisticas de productos con stock critico<input type="button" value="Entrar" onclick="location.href = 'http://localhost/framework/index.php/Home/StockCritico'" />
        <p> −	Registro de actividades<input type="button" value="Entrar" onclick="location.href = 'http://localhost/framework/index.php/Home/MantenedorUsuarios'" />
            </table>

    </div>
</body>
{include pie.html}

