	<div class="menu" >
		<ul>
			<li>{if $opcion==1}Actividades por usuario{else}<a href="http://localhost/framework/index.php/Home">Principal</a>{/if}</li>
			<li>{if $opcion==2}Salida de productos{else}<a href="http://localhost/framework/index.php/Home/listadoProductos">Salida de productos</a>{/if}</li>
			<li>{if $opcion==3}Comportamiento de usuarios{else}<a href="http://localhost/framework/index.php/Home/buscarProductos">Comportamiento de usuarios</a>{/if}</li>
			<li><a href="#">Salir</a></li>
		</ul>
	</div>